body {
  background: #834c69;
  padding: 15px;
}

#MuiCardContent-root-163{
  padding: 357px;
  margin: 20px;
  text-align: center;
}

#MediaCard-card-158{
  margin: 10px 0 0 25px;
}
.Link {
  size: 10px
}

.home-page {
  background-color: white
}
